body{
    #superbotao {
        background-color: rgb(50, 47, 47);
        /* Green */
        border: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
        border-radius: 20px;
        margin-top: 20px;
        padding: 10px 130px;
    }
    
    #superbotao2 {
        background-color: rgb(192, 4, 4);
        /* Green */
        border: none;
        color: white;
        text-decoration: none;
        font-size: 12px;
        border-radius: 4px;
        margin-top: 20px;
        padding: 10px;
    }
    
    #superbotao3 {
        background-color: rgb(17, 126, 209);
        /* Green */
        border: none;
        color: white;
        text-decoration: none;
        font-size: 12px;
        border-radius: 4px;
        margin-top: 20px;
        padding: 10px 20px;
    }
}